%tr
  %td{title: task.created_at_date}= task.created_at_day_name
  %td= task.project.name
  %td= task.category.name
  %td= task.description
  %td.js-hour-cell
    -# = task.first().task_times.first().hours
  %td
    = link_to "", edit_task_path(id: task), class: 'btn btn-default fa fa-edit'
    &nbsp;
    = link_to "", task_path(id: task), class: 'btn btn-default fa fa-trash', method: 'delete', data: {confirm: I18n.t('delete_message')}
    &nbsp;