.form-group
  %div.bgWhite.col-md-8.col-md-offset-2.infoBox
    %div.info-box-icon.col-md-2
    %div.col-md-6
      %h4= "#{task.project.name}: #{task.category.name}"
      %h2= task.description    
    %div.col-md-2
      %h4= task.created_at_day_name    
      %h2.js-hour-cell= task.hours
    %div.col-md-2
      = link_to "",  edit_task_path(id: task), class: 'btn btnInfoBox pull-left fa fa-edit', style: 'color:grey'
      = link_to "", task_path(id: task), class: 'btn btnInfoBox pull-right fa fa-trash', style: 'color:grey', method: 'delete'      